html, body, div, span, h1, h2, h3, h4, h5, h6, button, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, nav, output, section, time, mark, audio, video, input, textarea, select {
    margin: 0;
    padding: 0;
    border: 0;
    /* inherits the browser's font properties: font-size 16px */
    font: inherit;
    /*  specifies the vertical alignment of an inline element */
    vertical-align: baseline;

    box-sizing: border-box;

    /*  specifies the height of line boxes within the element. */
    line-height: 1;

    border-radius: 0;

    /* no outline around anything */
    outline: none;

    /* inherit the color value of the parent */
    color: inherit;
}

ol, ul {
    /* no bullets in lists */
    list-style: none;
}

a {
    /* no underline */
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

blockquote, q {
    /* no quotes */
    quotes: none;
}

table {
    /* no spacing between cells*/
    border-spacing: 0;
    /*borders are collapsed - adjacent table cells share borders */
    border-collapse: collapse;
}

input, select, progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

svg {
    width: 1.9em;
    height: 1.9em;
    fill: currentColor;
}



body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.row {
    width: 100%;
    padding: 50px 0;
}

#intro{
    background-image: url(/img/hotel.jpg);
    height: 850px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center
}

#intro > h1 {
    font-weight: bold;
    font-size: 2rem;
    text-transform:uppercase;
    margin: 100px 0 0 0;
    display: inline-block;
}

#aboutus {
    background-color: #262626;
    text-align: center;
    padding-top:30px;
}

#aboutus .row{
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutus .column {
 width: 40%;
 display: inline-block;
}

#aboutus img {
    width: 100%;
}

