body{
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    color: chocolate;
    font-weight: bold;
}
h1{
    margin: 0 auto;
    font-size: 150%;
    color: darkblue;
    line-height: 2;

}
.contenedor-arriba{
    background-color:#f2f6f5;
    padding-top: 50px;


}
.contenedor-medio{

}
.contenedor-abajo{

}
.pro{
    text-decoration: solid;
}

.nube1{
    box-sizing: border-box;width: 100px;
    position: relative;
    left: 200px;
    top: 50px;
    float: left;
    margin-left: 10px;
}
.nube2{
    box-sizing: border-box;width: 100px;
    position: absolute;
    left: 650px;
    top: 230px;
}