body{
    color: dimgray;
    font-family: Arial;
    font-size: 14px;
    background: #5d357d;
}

.page {
    max-width: 980px;
    margin:0 auto;
    position: relative;
    background-color: #fff;
}

p {
    color: red;
    margin: 0em 0em .75em 0em;
    line-height: 1.4rem;
}

header {
    height: 300px;
    background-image: url("../images/banner_large.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    width: auto;
    height: 200px;
    


}